<body>
    <div class="banner">
        <div class="header" id="heads">
            <a routerLink="/login"><img src="../assets/user.png" class="userlogo" height="25px" width="25px"></a>
            <a routerLink="/"><img src="../assets/logo.png" class="sitelogo" height="35px" width="120px"></a>

            <form style="padding-left: 350px; padding-top: 21px;">
                <input type="text" class="searchbar" placeholder="Search..">
            </form>
            <img src="../assets/search-icon.png" alt="" height="20px" width="20px" class="searchicon">
        </div>
        <div class="navbar">
            <nav id="navi">
                <ul>
                    <li><a href="arrival.html" style="color: black;text-decoration: none;">Arrival</a></li>
                    <li>Footware</li>
                    <li>Blogs</li>
                </ul>
            </nav>
        </div>
    </div>
</body>