<div class="foot">
    <div class="info">
        <h2>Info</h2>
        <ul>
            <li><a href="contact.html" class="footer_pages">Contact Us</a></li><br>
            <li>Blogs</li><br>
            <li>Stores</li><br>
        </ul>
    </div>
    <div class="info">
        <h2>Policies</h2>
        <ul>
            <li>Privacy Policy</li><br>
            <li>Exchange</li><br>
            <li>Help Center</li><br>
        </ul>
    </div>

    <div class="news">
        <h1>Subscribe to our news letter</h1>
        <form action="">
            <input type="email" id="email" placeholder="Enter email" required value="mail">
            <button id="submit-btn" type="submit" onclick="Validate()"> Submit </button>
        </form>

    </div>

</div>