<div class="login">
    <h1 style="padding-left: 380px; padding-bottom: 15px;"><b>LOGIN</b></h1>
    <form>
        <p class="text text1">Email Address</p>
        <input type="text" class="logintextbox">
    </form>
    <form>
        <p class="text text2">Password</p>
        <input type="text" class="logintextbox">
    </form>
    <p style="padding-top: 10px;"><a routerLink="/" class="loginbutton">Login</a></p>
    <p class="text b">No account ? <a routerLink="/register"><b>Create One</b></a></p>
</div>