<div class="cover" id="cover">
    <a href="temp.html" style="height:550px; width: 1030px;grid-row-start: 1;
    grid-column-end: 1;"><img src="../assets/NITEBALL.webp" alt="" height="550px" width="1030px"></a>
    <a href="jordan.html" style="width:430px; height: 250px;grid-column-end: 2;grid-row-start: 1;"><img
            src="../assets/jordan.webp" alt="" width="430px" height="250px"></a>
    <a href="vans.html" style="width:430px; height: 250px; margin-top: 280px;grid-column-end: 2;grid-row-start: 1;"><img
            src="../assets/vans.webp" alt="" width="430px" height="250px"></a>
</div>


<div class="gallery">
    <h1 id="head">New Arrivals</h1>

    <div class="cards">
        <a href="airj2.html">
            <div class="card">
                <img src="../assets/a (3).jpg" alt="Avatar" style="width: 400px;height: 400px;">
                <div class="container">
                    <h4><b>AIR JORDAN 2 RETRO BLACK/CEMENT..</b></h4> <br>
                    <p> Rs.25,000</p>
                </div>
            </div>
        </a>
        <a href="bb400.html">
            <div class="card">
                <img src="../assets/b (1).jpg" alt="Avatar" style="width: 400px;height: 400px;">
                <div class="container">
                    <h4><b>BB 4000 LI MID 'WHITE/BLUE'</b></h4> <br>
                    <p> Rs.9,999</p>
                </div>
            </div>
        </a>

        <a href="classleath.html">
            <div class="card">
                <img src="../assets/c (1).jpg" alt="Avatar" style="width: 400px;height: 400px;">
                <div class="container">
                    <h4><b>CLASSIC LEATHER 'WHT/CHALK/STUCCO'</b></h4> <br>
                    <p> Rs.7,999</p>
                </div>
            </div>
        </a>
        <a href="veefrn.html">
            <div class="card">
                <img src="../assets/d (1).jpg" alt="Avatar" style="width: 400px;height: 400px;">
                <div class="container">
                    <h4><b>VEEFRIENDS x REEBOK CLASSIC NYLON 'BLACK'</b></h4> <br>
                    <p> Rs.7,999</p>
                </div>
            </div>
        </a>

    </div>
</div>